<% layout('layout') %>

<div class="container mt-5">
  <h2 class="mb-4 text-center"><%= post.title %></h2>

  <div class="border rounded p-4 mb-4">
    <h4 class="mb-4 text-center">정산 내역서</h4>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 30%;">
            <col style="width: 20%;">
            <col style="width: 30%;">
        </colgroup>

      <!-- 라이더 정보 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">라이더 정보</th>
      </tr>
      <tr>
        <td style="background-color: #d9d9d9;">라이더 명</td><td><%= post.riderName %></td>
        <td style="background-color: #d9d9d9;">수행 건수</td><td><%= post.taskCount %></td>
      </tr>
      <tr>
        <td style="background-color: #d9d9d9;">주민번호</td><td><%= post.residentId %></td>
      </tr>
      <tr>
        <td style="background-color: #d9d9d9;">은행명</td><td><%= user.bankName %></td>
        <td style="background-color: #d9d9d9;">계좌 번호</td><td><%= post.accountNumber %></td>
      </tr>
      <tr>
        <td style="background-color: #d9d9d9;">예금주</td><td><%= post.depositAccount %></td>
      </tr>


      <!-- 배달료 기준 내역 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">배달료 기준 내역</th>
      </tr>
      <tr>
        <td style="background-color: #dcffd6;">배달료 A</td><td><%= post.deliveryFeeA %></td>
        <td style="background-color: #dcffd6;">추가지급 B</td><td><%= post.additionalPaymentB %></td>
      </tr>
      <tr>
        <td style="background-color: #dcffd6;" colspan="2">총 배달료 C(A+B)</td><td colspan="2"><%= post.totalDeliveryFeeC %></td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td style="background-color: #d6f3ff;">필요경비</td><td><%= post.necessaryExpense %></td>
        <td style="background-color: #d6f3ff;">보수액</td><td><%= post.paymentAmount %></td>
      </tr>
      <tr>
        <td style="background-color: #d6daff;">라이더부담 산재보험료</td><td><%= post.riderIndustrialInsurance %></td>
        <td style="background-color: #d6daff;">라이더부담 고용보험료</td><td><%= post.riderEmploymentInsurance %></td>
      </tr>
      <tr>
        <td style="background-color: #ffd6ea;">산재보험 소급정산</td><td><%= post.riderRetroIndustrial %></td>
        <td style="background-color: #ffd6ea;">고용보험 소급정산</td><td><%= post.riderRetroEmployment %></td>
      </tr>
      <tr>
        <td style="background-color: #d6ffea;">시간제보험료</td><td colspan="3"><%= post.insuranceFee %></td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td style="background-color: #ffd6d6;">라이더별 정산금액(H)</td><td colspan="3"><%= post.riderFinalPaymentH %></td>
      </tr>

      <!-- 기본 공제 항목 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">기본 공제 항목</th>
      </tr>
      <tr>
        <td style="background-color: #e0d6ff;">소득세</td><td><%= post.incomeTax %></td>
        <td style="background-color: #e0d6ff;">주민세</td><td><%= post.residentTax %></td>
      </tr>
      <tr>
        <td style="background-color: #cbbbfb;">원천 징수 세액<br><small>(소득세 + 주민세)</small></td><td colspan="3"><%= post.withholdingTax %></td>
      </tr>
      
      <!-- 세트 달성 여부에 따른 공제 항목 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">세트 달성 여부에 따른 공제 항목<br><small>(세트 성공시 면제)</small></th>
      </tr>
      <tr>
        <td style="background-color: #bbe8fb;">세트 달성 여부</td>
        <td>
          <% if (post.setAchievement === '성공') { %>
            <span style="color: blue;"><%= post.setAchievement %></span>
          <% } else if (post.setAchievement === '실패') { %>
            <span style="color: red;"><%= post.setAchievement %></span>
          <% } else { %>
            <%= post.setAchievement %>
          <% } %>
        </td>
        <td style="background-color: #bbe8fb;">세무기장료</td>
        <td>
          <% if (post.setAchievement === '실패') { %>
            <span style="color: red;"><%= post.taxFee %></span>
          <% } else { %>
            <%= post.taxFee %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td style="background-color: #bbe8fb;" colspan="2">사업주 부담 고용/산재 보험료</td>
          <td colspan="2">
            <% if (post.setAchievement === '실패') { %>
              <span style="color: red;"><%= post.ownerInsuranceFee %></span>
            <% } else { %>
              <%= post.ownerInsuranceFee %>
            <% } %>
          </td>
      </tr>

      <!-- KAD 소속 라이더 지원 프로그램 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">KAD 소속 라이더 지원 프로그램<br><small>(세트 성공시 지급)</small></th>
      </tr>
      <tr>
        <td style="background-color: #f7fdd9;" >프모 단가</td><td><%= post.promoRate %></td>
        <td style="background-color: #f7fdd9;" >최종 프로모션 지급 비용</td><td><%= post.finalPromoPayment %></td>
      </tr>
      <tr>
        <td style="background-color: #f7fdd9;" >라이더 유류비 지원</td><td colspan="3"><%= post.fuelSupport %></td>
      </tr>

      <!-- 최종 지급 내역 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">최종 지급 내역</th>
      </tr>
      <tr>
        <td style="background-color: #e8fdd9;" colspan="2">[A] 지급액</td><td colspan="2"><%= post.paymentA %></td>
      </tr>
      <tr>
        <td style="background-color: #e8fdd9;" colspan="2">[B] 사업자부담 환급 총액</td><td colspan="2"><%= post.refundB %></td>
      </tr>
      <tr>
        <td style="background-color: #e8fdd9;" colspan="2">[C] 소속 라이더 지원 프로그램</td><td colspan="2"><%= post.supportC %></td>
      </tr>
      <tr>
        <td style="background-color: #ccffa8;" colspan="2">최종 지급액 ([A]+[B]+[C])</td><td colspan="2"><%= post.finalPayment %></td>
      </tr>

      <!-- 정산 기간 -->
      <tr class="table-secondary">
        <th style="background-color: #ededed;" colspan="4" class="text-center">정산 기간</th>
      </tr>
      <tr>
        <td style="background-color: #e9e9e9;" colspan="2">정산 시작일</td><td colspan="2"><%= post.settlementStart %></td>
      </tr>
      <tr>
        <td style="background-color: #e9e9e9;" colspan="2">정산 종료일</td><td colspan="2"><%= post.settlementEnd %></td>
      </tr>
      <tr>
        <td style="background-color: #e9e9e9;" colspan="2">정산 지급일</td><td colspan="2"><%= post.payDay %></td>
      </tr>
    </table>
  </div>
  <!-- 본인 확인 기능 -->
  <% if (!['krogy', 'admin'].includes(user.username)) { %>
    <div class="mt-4 text-center">
      <% if (post.confirmed === 'yes') { %>
        <h4><span>✅ 확인함</span></h4>
      <% } else { %>
        <form method="POST" action="/post/<%= post._id %>/confirm">
          <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
            <h4><input class="form-check-input" type="checkbox" id="confirmCheck" name="confirm" required></h4>
            <h4><label class="form-check-label" for="confirmCheck"> 정산서 내용을 확인합니다 </label></h4>
          </div>
          <button type="submit" class="btn btn-outline-primary mt-2">확인</button>
        </form>
      <% } %>
    </div>
  <% } %>

  <div class="text-center mt-4">
    <% if (user && (user.username === 'krogy' || user.username === 'admin')) { %>
      <form action="/post/<%= post._id %>/delete" method="POST" onsubmit="return confirm('정말 삭제하시겠습니까?');">
        <button type="submit" class="btn btn-danger">삭제하기</button>
        <a href="/my-posts" class="btn btn-secondary ms-2 mt-2 mt-md-0">목록으로 돌아가기</a>
      </form>
    <% } else { %>
      <a href="/my-posts" class="btn btn-secondary">목록으로 돌아가기</a>
    <% } %>
  </div>
</div>
</div>
